.orderItem td {
  vertical-align: top;
  padding: 25px 0;
  text-align: justify;
  border-bottom: 1px solid var(--base-light-gray);
}

/* .orderItem td:nth-child(5) {
  width: 120px;
} */

.orderItem td.productImg img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.orderItem td > span {
  font-size: 14px;
  font-weight: 400;
  color: var(--base-black);
  display: block;
  max-width: 271px;
}

.orderItem td > h4 {
  font-size: 16px;
  font-weight: 600;
  color: var(--base-black);
}

.orderItem .qty {
    font-size: 14px;
    font-weight: 600;
    color: var(--base-black);
  }
.orderItem td:last-child img {
  cursor: pointer;
}
