.searchBar{
    width: 100%;
    max-width: 1126px;
    position: relative;
}

.searchBar input{
    width: 100%;
    border-radius: 31px;
    background: var(--base-white);
    padding-left: 30px;
    height: 60px;
    border: none;
    font-size: 14px;
    color: var(--base-dark-gray);
}
.searchBar input::placeholder{
    font-size: 14px;
    color: var(--base-gray);
    font-weight: 400;
}

.searchBar img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 34px;
}

@media(max-width:1345px){
    .searchBar{
        padding: 0 20px;
    }
}