
.listWrapper{
    display: flex;
    gap: 7px;
    align-items: start;
    padding: 11px 8px;
}
.listWrapper:first-child{
    padding: 16px 8px;
}

.listWrapper .timeInfo > p:first-child{
    font-size: 12px;
    font-weight: 400;
    color:var(--base-black);
    line-height: 16.8px;
}

.listWrapper .timeInfo > p{
    font-size: 13px;
    font-weight: 600;
    color:var(--base-black);
}

.listWrapper .timeInfo > p >span{
    color:var(--base-gray);
}

.listWrapper .address > p{
    font-size: 13px;
    font-weight: 400;
    color:var(--base-black);
    line-height: 18.2px;
}
.phone{
    padding: 11px 0;
}
.phone >p{
    padding-left: 21px;
    font-size: 13px;
    font-weight: 400;
    color:var(--base-black);
    line-height: 18.2px;
}

.phone >p >span:last-child{
    color:var(--base-blue);
}